:root {
    --white: #fff;
    --light-grey: #f5f6f7;
    --dark-grey: #0a0a23;
    --yellow: #f1be32;
    --golden-yellow: #feac32;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--dark-grey);
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    color: var(--light-grey);
    margin: 20px 0 40px 0;
  }

  #etch-container {
    background-color: var(--white);
    width: 410px;
    height: 410px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    border: 5px solid var(--yellow);
  }

  .btn {
    cursor: pointer;
    width: 100px;
    margin: 10px;
    color: var(--dark-grey);
    background-color: var(--golden-yellow);
    background-image: linear-gradient(#fecc4c, #ffac33);
    border-color: var(--golden-yellow);
    border-width: 3px;
  }

  .btn:hover {
    background-image: linear-gradient(#ffcc4c, #f89808);
  }

  .large-btn {
    width: 30%;
    font-size: 1.2rem;
    align-self: center;
    justify-self: center;
    transition: transform 0.3s;
    margin-bottom: 20px;
  }

  .footer-btn {
    width: 80%;
  }

  .close-form-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .close-icon {
    width: 20px;
    height: 20px;
  }
  
  .number-form {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border-radius: 10px;
    border: 5px solid var(--yellow);
    padding: 15px;
    width: 400px;
    height: 250px;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    z-index: 10;
  }

  .number-form-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .number-form-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .number-form-footer {
    display: flex;
    justify-content: center;
  }

  .task-form-label,
  #title-input {
    display: block;
  }

  .number-form-label {
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  #number-input{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.2rem;
  }

  .hidden {
    display: none;
  }

  #square {
    border: 1px solid var(--dark-grey);
  }

  @media (max-width: 576px) {
    .large-btn {
      width: 70%;
    }

    .number-form-label {
      font-size: 1.2rem;
    }
  
    #number-input {
      height: 1.1rem;
      padding: 15px;
    }
  }